# Arquivo .gitignore para Django

# Arquivos de Ambiente Virtual
venv/
env/

# Banco de Dados
*.sqlite3
db.sqlite3

# Arquivos temporários do Python
__pycache__/
*.pyc

# Arquivos de mídia (uploads dos usuários)
media/

# Arquivos estáticos coletados
staticfiles/

# Arquivos de configuração de IDEs
.vscode/
.idea/